body {
	background-color: #5A5A5A;
	color: #fff;
}

#content {
	width: 700px;
}

#output {
	margin: 30px 0;
}

table {
	width: 100%;
}

tr {
	text-align: center;
	margin: 10px;
	padding: 10px;
}

td {
	border: thin dotted grey;
}