---
layout: default
title: Kyle Belanger
---

<!-- right section -->
			<div id="right-section" class="pull-right">

				<div id="running-log-container">
					<div id="running-heatmap">
						<p class="times 12px">Running <a href="https://raw.githubusercontent.com/kylesb/static/master/JSON/running_log.json">log:</a> <span data-container="body" data-trigger="hover" data-toggle="popover" data-placement="left" data-content="This is a JSON compiled heatmap of my daily running log.">(?)</span></p>

						<div id="button-container" class="pull-right">
							<button id="previous" type="button" class="button-icon">
								<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							</button>
							<button id="next" type="button" class="button-icon">
								<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>

			</div>
			<!-- / right section -->

			<!-- start posts -->
			<div id="posts-container">
				{% for post in site.posts %}
				<section class="post">
					<h4>
					{% if post.link != null %}
						<span><a class="title" href="{{ post.link }}">{{ (post.date | date_to_string }}</a></span>
					{% else %}
						<span><a class="title" href="{{ post.url }}">{{ (post.date | date_to_string }}</a></span>
					{% endif %}
					</h4>

				    <section class="description">{{ post.title }} - {{ post.description }}
				    {% if post.readmore != null %}
				    	<small title="Read more...">( <a href="{{ post.readmore }}">...</a> )</small>
				    {% else %}
				    	<small title="Read more...">( <a href="{{ post.url }}">...</a> )</small>
				    {% endif %}
					</section>
				</section>
				{% endfor %}
			</div>
			<!-- end posts -->

			<!-- scripts for this page -->
			<script type="text/javascript" src="/js/vendor/cal-heatmap.js"></script>
			<script type="text/javascript" src="/js/posts/index/running-log.js"></script>
			<!-- / scripts -->

			<!-- initialize -->
			<script>
				$(document).ready(function(){
				    $('[data-toggle="popover"]').popover()
				});

				// append CSS for this page to the <head>
				var linkElement = document.createElement("link");
				linkElement.rel = "stylesheet";
				linkElement.href = "/css/vendor/cal-heatmap.css";
				// append CSS file
				document.head.appendChild(linkElement);
			</script>
			<!-- / initialize -->
