
<!DOCTYPE HTML>
<html lang="en">

	<head>	
		<title>({ page.title })</title>
		<meta name="viewport" content="width=device-width">
		<link href="css/main.css" rel="stylesheet" type="text/css">
		<link href="css/normalize.css" rel="stylesheet" type="text/css">
		<meta name="Author" content="Kyle Belanger" />
	</head>	
	
	
	<body>
	
		<!-- start header -->
		<header>
			<div>
				<h2>Kyle Belanger</h2>
				<!-- start nav -->
				<nav>
					<ul>
						<li><a href="#">About</a></li>
						<li><a href="#">Running Log</a></li>
					</ul>
				</nav>
				<!-- end nav -->
			</div>
		</header>
		<!-- end header -->
		
		<!-- start content -->
		<div id="content">
			({ content })
		</div>
		<!-- end content -->
	
	</body>
</html>