
<!DOCTYPE HTML>
<html lang="en">

	<head>	
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/normalize.css" rel="stylesheet" type="text/css">
		<meta name="Author" content="Kyle Belanger" />
	</head>	
	
	
	<body>
	
		<!-- start header -->
		<header>
			<div>
				<h2>Kyle Belanger</h2>
				<!-- start nav -->
				<nav>
					<select id="menu">
					  <option value="menu">Menu</option>
					  <option value="/posts/about/">About</option>
					  <option value="rss">RSS</option>
					</select>
				</nav>
				<!-- end nav -->
			</div>
		</header>
		<!-- end header -->
		
		<!-- start pagewrap -->
		<div id="pagewrap">

			<div id="content">

				{{ content }}

			</div>

			</div>
			<!-- end content -->
		</div>
		<!-- end pagewrap -->
	
	</body>
</html>