
<!DOCTYPE HTML>
<html lang="en">

	<head>	
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link href="/css/main.css" rel="stylesheet" type="text/css">
		<link href="/css/normalize.css" rel="stylesheet" type="text/css">
		<meta name="Author" content="Kyle Belanger" />
	</head>	
	
	
	<body>
	
		<!-- start header -->
		<header>
			<div>
				<h2><a class="home" href="/">Kyle Belanger</a></h2>
				<!-- start nav -->
				<nav>
					<select id="menu" onchange="location = this.options[this.selectedIndex].value;">
					  <option>Menu</option>
					  <option value="/posts/about/"><a href="/posts/about/">About</a></option>
					  <option>RSS</option>
					</select>
				</nav>
				<!-- end nav -->
			</div>
		</header>
		<!-- end header -->
		
		<!-- start pagewrap -->
		<div id="pagewrap">

			<div id="content">

				{{ content }}

			</div>

			</div>
			<!-- end content -->
		</div>
		<!-- end pagewrap -->
	
	</body>

	<!-- analytics -->
	<script>

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-61575718-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();        

	</script>
</html>